.not-found {
    width: 100%;
    padding: 246px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found__code {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 1.2;
    color: #FFFFFF;
}

.not-found__description {
    margin: 5px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #FFFFFF;
}

.not-found__link {
    margin: 184px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #4285F4;
    text-decoration: none;
    transition: opacity .3s ease;
}

.not-found__link:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding: 408px 0 222px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .not-found__code {
    font-size: 80;
    line-height: 1.21;
  }

  .not-found__link {
      margin: 284px 0 0;
    font-size: 12px;
      line-height: 1.25;
  }

  .not-found__description {
      font-size: 12px;
      line-height: 1.25;
  }

  .not-found {
    padding: 329px 0 30px;
  }
}