.search__input_type_checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.search__label {
    margin: 30px 0 0;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

.search__label-text {
    padding: 0 0 0 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
}

.search__base {
    content: '';
    width: 36px;
    height: 20px;
    border-radius: 16px;
    background-color: #2F2F2F;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    position: absolute;
    top: 0;
    left: 0;
}

.search__tumbler {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}

.search__tumbler_active {
    left: 18px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}

.search__base_active {
    background-color: #3DDC84;
}

@media screen and (max-width: 320px) {
    .search__label {
        margin-top: 44px;
    }

    .search__label-text {
            font-size: 11px;
    }
}