@import url('./vendor/fonts/fonts.css');

body {
  margin: 0;
  background-color: #202020;
  max-width: 100% - 140px;
  margin: 0 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 100% - 60px;
    margin: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 100% - 20px;
    margin: 0 10px;
  }
}